<div class="buildingWrapper">
	<div class="buttonToBuildDir" ng-click="changeView('buildingDirectory')">
		<div class="innerText">
			<span class="touchHere">TOUCH HERE</span><span class="FOR">FOR</span><span class="neighBuild">BUILDING</span><span class="guideDir"> DIRECTORY</span>
		</div>
	</div>
	<div class="neighborBottom">
		<p class="pHeader">
			NEIGHBORHOOD GUIDE
		</p>
                <input type="text" id="autocomplete">
                <div id="map"></div>
	</div>




</div>